.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Todo + .Todo {
  margin-top: 1em;
}

.Todo input {
  width: 0px;
  height: 0px;
  margin: 0;
}

.Todo label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  margin-inline-end: 14px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

.Todo input:checked + label::before {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  background-image: url("check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.Todo .delete-button {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-style: none;
  opacity: 0;
  transition: opacity 150ms linear;
  cursor: pointer;
}

.Todo:hover .delete-button {
  opacity: 1;
}
